<!-- <div style="height: 300px" leaflet [leafletOptions]="options"></div> -->

<div
  style="height: 1000px"
  leaflet
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl"
></div>

<!-- <div
  leaflet
  style="height: 1000px"
  leafletDraw
  [leafletOptions]="options"
  [leafletDrawOptions]="drawOptions"
></div> -->
<!-- 
<div
  leaflet
  leafletDraw
  [leafletOptions]="options"
  [leafletDrawOptions]="drawOptions"
  (leafletDrawReady)="onDrawReady($event)"
></div> -->
<!-- onDrawReady(drawControl: Draw.Control) { // Do stuff with map } -->
